<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firewall Orchestrator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <aside class="sidebar">
        <div class="brand">
           <div class="logo">
    <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Firewall Orchestrator Logo">
</div>
            
        </div>

        <nav>
    <a href="/"> Dashboard</a>
    <a href="/analyzer"> Wireshark Analyzer</a>
    <a href="/controller"> Dynamic Rule Engine<br><span></span></a>
    <a href="/validator"> Zero-Trust Identity Gate<br><span></span></a>
</nav>

        <div class="sidebar-note">
            <p>Protected asset</p>
            <strong>Kali Linux Server</strong>
        </div>
    </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>